.top_line
    .container
        .row
            .col-md-2
                .logo
                    a(href='#')
                        img(src='static/images/common/bxfilms_white.png')
            .col-md-10.d-flex.justify-content-end
                nav.top_menu
                    ul
                        +menu_item('Главная', '/')
                        +menu_item('Услуги', '/')
                        +menu_item('О нас', '/')
                        +menu_item('Мы ищем тебя', '/')
                        +menu_item('Контакты', '/')
                div.butter-button.visible_menu
                    div

