.container-fluid.no-padding
    .row.no-gutters
        .col-lg-4.col-md-6.col-sm-12
            +portfolio_content('static/images/common/intel.png', 'static/images/common/toyota-ca-screenshot.jpg', 'portfolio-detail.html')
        .col-lg-4.col-md-6.col-sm-12
            +portfolio_content('static/images/common/intel.png', 'static/images/common/cisco.jpg', 'portfolio-detail.html')
        .col-lg-4.col-md-6.col-sm-12
            +portfolio_content('static/images/common/intel.png', 'static/images/common/Hipster-Hooligans-1.jpg', 'portfolio-detail.html')
        .col-lg-4.col-md-6.col-sm-12
            +portfolio_content('static/images/common/intel.png', 'static/images/common/Trov.jpg', 'portfolio-detail.html')
        .col-lg-4.col-md-6.col-sm-12
            +portfolio_content('static/images/common/intel.png', 'static/images/common/VSCO-Homepage.jpg', 'portfolio-detail.html')
        .col-lg-4.col-md-6.col-sm-12
            +portfolio_content('static/images/common/intel.png', 'static/images/common/Ori-2.jpg', 'portfolio-detail.html')
        .col-lg-4.col-md-6.col-sm-12
            +portfolio_content('static/images/common/intel.png', 'static/images/common/toyota-ca-screenshot.jpg', 'portfolio-detail.html')
        .col-lg-4.col-md-6.col-sm-12
            +portfolio_content('static/images/common/intel.png', 'static/images/common/cisco.jpg', 'portfolio-detail.html')
        .col-lg-4.col-md-6.col-sm-12
            +portfolio_content('static/images/common/intel.png', 'static/images/common/Hipster-Hooligans-1.jpg', 'portfolio-detail.html')
        .col-lg-4.col-md-6.col-sm-12
            +portfolio_content('static/images/common/intel.png', 'static/images/common/Trov.jpg', 'portfolio-detail.html')
        .col-lg-4.col-md-6.col-sm-12
            +portfolio_content('static/images/common/intel.png', 'static/images/common/VSCO-Homepage.jpg', 'portfolio-detail.html')
        .col-lg-4.col-md-6.col-sm-12
            +portfolio_content('static/images/common/intel.png', 'static/images/common/Ori-2.jpg', 'portfolio-detail.html')