extends layout/main

block variables
	-var title = 'Главная страница'
	-var page_class = 'main'

block content
	.presentation_block
		.container
			.row
				.col-md-6
					.presentation_block_hero
						img(src='static/images/common/home-hero-768x1024.jpg' alt='')
				.col-md-6.d-flex.align-items-center
					.presentation_block_text
						h2 Видео, которые двигают мир вперед...
				.col-md-12
					.cta_buttons
						a.btn.btn-white.btn_phone(href='tel:2045568')
							span.icon-phone-alt
							= 'Позвонить'
						a.btn.btn-accent.btn_mail(href='#')
							span.icon-telegramm
							= 'Отправить заявку'

	.about_block.p80
		.container
			.about_block_content
				h1.about_block_content--small_text Сан-Франциско, Бэй Район, Видео Продюсерская Компания
				h2.about_block_content--big_text Мы создаем видео, которые мотивируют поведение. Видеоролики, рассказывающие о новаторских историях - от новых технологий до развлечений на свежем воздухе.
				.about_block_content--text
					p Благодаря новым способам охвата вашей аудитории, и являясь неотъемлемой частью процесса на всем пути от концепции до потребителя, мы помогаем создать другое будущее. Мы - проворная компания по производству видео в Сан-Франциско, которая помогает брендам и организациям продвигать мир вперед.
					p Каков твой путь вперед?


	.container
		.portfolio_masonry.mb80
			.grid
				+grid-item('static/images/common/intel.png', 'static/images/common/toyota-ca-screenshot.jpg', '#', 'grid-item--height2')
				+grid-item('static/images/common/intel.png', 'static/images/common/cisco.jpg', '#', 'grid-item--width2')
				+grid-item('static/images/common/intel.png', 'static/images/common/Hipster-Hooligans-1.jpg', '#', '')
				+grid-item('static/images/common/intel.png', 'static/images/common/Trov.jpg', '#', '')
				+grid-item('static/images/common/intel.png', 'static/images/common/VSCO-Homepage.jpg', '#', 'grid-item--width2')
				+grid-item('static/images/common/intel.png', 'static/images/common/Ori-2.jpg', '#', '')

	.clients.mb80
		.container
			.row
				.col-lg-3.col-md-4.col-6
					.clients_item
						img(src='static/images/common/intel.png' alt='')
				.col-lg-3.col-md-4.col-6
					.clients_item
						img(src='static/images/common/intel.png' alt='')
				.col-lg-3.col-md-4.col-6
					.clients_item
						img(src='static/images/common/intel.png' alt='')
				.col-lg-3.col-md-4.col-6
					.clients_item
						img(src='static/images/common/intel.png' alt='')
				.col-lg-3.col-md-4.col-6
					.clients_item
						img(src='static/images/common/intel.png' alt='')
				.col-lg-3.col-md-4.col-6
					.clients_item
						img(src='static/images/common/intel.png' alt='')
				.col-lg-3.col-md-4.col-6
					.clients_item
						img(src='static/images/common/intel.png' alt='')
				.col-lg-3.col-md-4.col-6
					.clients_item
						img(src='static/images/common/intel.png' alt='')
				.col-lg-3.col-md-4.col-6
					.clients_item
						img(src='static/images/common/intel.png' alt='')
				.col-lg-3.col-md-4.col-6
					.clients_item
						img(src='static/images/common/intel.png' alt='')
				.col-lg-3.col-md-4.col-6
					.clients_item
						img(src='static/images/common/intel.png' alt='')
				.col-lg-3.col-md-4.col-6
					.clients_item
						img(src='static/images/common/intel.png' alt='')
				.col-md-12.d-flex.justify-content-center
					a.btn.btn-accent.scale-effect(href='#')
						span Получить консультацию

	.services_block.mt80.p50
		.container
			.row
				.col-md-4
					+services_item('static/images/content/product_videos-150x150.png', 'Видео о продуктах', 'Расскажите историю, столь же неотразимую и изменяющую мир, как ваш продукт или услуга.')
				.col-md-4
					+services_item('static/images/content/brand_videos-150x150.png', 'Видео бренда', 'Поделитесь своим путешествием со всем миром с помощью захватывающего фирменного фильма, который отражает ваше уникальное видение.')
				.col-md-4
					+services_item('static/images/content/agency_partnerships_video-production-150x150.png', 'Партнерство', 'Куда бы ни направлялось ваше агентство, берите с собой опытных видео партнеров.')










