footer
    .container
        .row
            .col-lg-3.col-md-12
                .logo
                    a(href='#')
                        img(src='static/images/common/bxfilms_white.png')
                .footer_text
                    p We’re a top video production company in San Francisco, built to tell the stories of people and brands moving the world forward.
            .col-lg-6.col-md-12
                .footer_title instagram
                .instagram_module
                    .instagram_module-item
                        a(href='#')
                            img(src='static/images/content/insta1.jpg' alt='')
                    .instagram_module-item
                        a(href='#')
                            img(src='static/images/content/insta2.jpg' alt='')
                    .instagram_module-item
                        a(href='#')
                            img(src='static/images/content/insta3.jpg' alt='')

            .col-lg-3.col-md-12
                .footer_title подписка
                .footer_text Join us on our journey. Hear more about who we are, where we’re going, and get updates along the way.
                form.form_subscribe
                    input(type='email' name='email' placeholder="Enter E-mail...").
                    button(type='submit')
