footer
    .container
        .row
            .col-lg-3.col-md-12
                .logo
                    a(href='#')
                        img(src='static/images/common/bxfilms_white.png')
                .footer_text
                    p Мы являемся ведущей компанией по производству видео в Сан-Франциско, созданной для того, чтобы рассказывать истории людей и брендов, продвигающих мир вперед.
            .col-lg-6.col-md-12
                .footer_title instagram
                .instagram_module
                    .instagram_module-item
                        a(href='#')
                            img(src='static/images/content/insta1.jpg' alt='')
                    .instagram_module-item
                        a(href='#')
                            img(src='static/images/content/insta2.jpg' alt='')
                    .instagram_module-item
                        a(href='#')
                            img(src='static/images/content/insta3.jpg' alt='')

            .col-lg-3.col-md-12
                .footer_title подписка
                .footer_text Присоединяйтесь к нам в нашем путешествии. Узнайте больше о том, кто мы, куда мы идем, и получайте обновления по пути.
                form.form_subscribe
                    input(type='email' name='email' placeholder="Введите E-mail...").
                    button(type='submit')
